<div class="container">
    <div class="flex header">
        <div class="mobile-flex header">
            <span class="icon hover"><fa-icon [icon]="faArrow" (click)="backToHome()"></fa-icon></span>
            <h1>Player Details</h1>
        </div>
        <button (click)="openEditPlayer()" class="button hover big-device-button">Edit Player</button>
    </div>
    <div class="card-container">
        <div class="flex header">
            <img [src]=playerData?.playerImg
                alt="Detail Photo" class="player-photo">
            <div>
                <div class="flex player-header">
                    <h1 class="card-header"><span class="title">GM</span>{{playerData?.name}}</h1>
                    <p class="chess-elo">{{playerData?.chessElo}}</p>
                </div>
                <div class="player-info">
                    <p><span class="master-info">Full name</span>{{playerData?.name}}</p>
                </div>
                <div class="player-info">
                    <p><span class="master-info">Age</span>{{playerData?.age}}</p>
                </div>
                <div class="player-info">
                    <p><span class="master-info">Gender</span>{{playerData?.gender}}</p>
                </div>
                <div class="player-info">
                    <p><span class="master-info">Federation</span>{{playerData?.nationality}}</p>
                </div>
                <div class="player-info">
                    <p><span class="master-info">Email</span>{{playerData?.email}}</p>
                </div>
            </div>
        </div>

        <div class="flex justify-between">
            <div class="half-width">
                <h2 class="bio">Address Info</h2>
                <div *ngFor="let address of playerData?.playerAddresses">
                    <div class="mobile-flex gap">
                        <fa-icon [icon]="faCircle" class="circle-icon"></fa-icon>
                        <p>{{ address.address }}, {{address.city}}, {{address.country}}, {{address.zipCode}}</p>
                    </div>
                </div>
            </div>
            <div class="half-width">
                <h2 class="bio">Contact Info</h2>
                <div *ngFor="let contact of playerData?.contactPerson">
                    <div class="mobile-flex gap">
                        <fa-icon [icon]="faCircle" class="circle-icon"></fa-icon>
                        <p>{{ contact.name }}, {{contact.phoneNumber}}</p>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="bio">Bio</h2>
        <p class="bio-text">
            Pecatur baik hati suka memberikan ratu secara gratis.</p>

        <p class="bio-text">
            The 13-year-old Norwegian prodigy drew Kasparov and defeated GM Anatoly Karpov at the same event in 2004,
            one month before he became the second-youngest GM in history (and still eighth-youngest as of 2021). In
            2009, he became the youngest player to break the 2800-rating threshold (a record only broken by GM Alireza
            Firouzja in 2021).
        </p>

        <p class="bio-text">
            Then Carlsen transitioned from young world-class player to all-time great. He captured the world number-one
            ranking in 2011 and still hasn’t let go of it as of May 2023. He won the world title in 2013 and has
            successfully defended it four times (2014, 2016, 2018, and 2021). Additionally, he has won multiple world
            titles in rapid and blitz time controls, achieved the highest rating ever, and racked up several elite
            tournament wins, including four Norway Chess victories and seven in Wijk aan Zee.
        </p>

        <p class="bio-text">
            The amazing part is it seems like there’s much more ahead for Carlsen. In October 2020 Carlsen's 125-game
            undefeated streak came to an end (he scored 42 wins and 83 draws during this streak), setting yet another
            world record. If he continues performing the way he has, Carlsen could create something truly legendary.
        </p>

        <p class="bio-text">
            In an era of chess that’s more competitive than ever, he’s far ahead of the opposition. This despite
            voluntarily relinquishing the world championship in 2023, the first player to do so since Fischer. Carlsen
            further established his continued dominance by winning the 2023 Champions Chess Tour.
        </p>
    </div>
    <button (click)="openEditPlayer()" class="button hover small-device-button">Edit Player</button>
</div>