<div class="player-card" (click)="navigateToDetail(playerData.id)">
    <div class="flex gap">
        <img src="https://images.chesscomfiles.com/uploads/v1/master_player/3b0ddf4e-bd82-11e8-9421-af517c2ebfed.23bcb9e8.160x160o.827f073930a6.jpg"
            alt="chess-player" class="card-img">
        <div>
            <div class="flex justify-between">
                <h1 class="card-header"><span class="title">GM</span>{{playerData.name}}</h1>
                <div class="gap flex">
                    <p class="chess-elo">{{playerData.chessElo}}</p>
                    <fa-icon [icon]="faTrash" (click)="removePlayer(playerData.id)" class="sub-icon"></fa-icon>
                </div>
            </div>
            <h2 class="sub-card-header">{{playerData.nationality}}</h2>
            <p class="card-description">
                To many, GM Magnus Carlsen is the best to ever play the game, although GMs Garry Kasparov and Bobby Fischer remain in the conversation. At any rate, the clear and remarkable point is that before turning 30 years old, Carlsen had already earned a spot at the top, and he has continued to dominate into his 30s.
            </p>
        </div>
    </div>
</div>
<hr>