<div class="popup-container">
    <div class="form-container">
        <div class="form-header flex">
            <h1>Add New Article</h1>
            <fa-icon [icon]="faXmark" (click)="closeAddArticle()" class="icon-btn hover"></fa-icon>
        </div>
        <div class="form-body">
            <form (ngSubmit)="onAddArticle()">
                <div class="input-field">
                    <input type="text" id="title" name="title" [(ngModel)]="newArticle.title" required
                        placeholder="Enter article title">
                </div>
                <div class="input-field">
                    <input type="text" id="date" name="date" [(ngModel)]="newArticle.createdAt" equired
                        placeholder="Enter article date">
                </div>
                <div class="input-field">
                    <input type="text" id="genre" name="genre" [(ngModel)]="newArticle.genre" required
                        placeholder="Enter article genre">
                </div>
                <div class="input-field">
                    <input type="text" id="description" name="description" [(ngModel)]="newArticle.description" required
                        placeholder="Enter article description">
                </div>
                <div class="input-field">
                    <input type="text" id="imgUrl" name="imgUrl" [(ngModel)]="newArticle.imgUrl" required
                        placeholder="Enter article image url">
                </div>
                <div class="btn-container">
                    <button type="submit" class="button top-margin hover">Add Article</button>
                </div>
            </form>
        </div>
    </div>
</div>