<div class="home">
    <div class="home-text container">
        <h2 class="home-title">Welcome<hr>to Varick's <span>Page</span></h2>
    </div>
</div>

<div class="my-information">
    <app-profile-pic></app-profile-pic>
    <div>
        <h1>Hello! My Name is Varick</h1>
        <h2>I'm a student at UPN "Veteran" Yogyakarta</h2>
    </div>
</div>

<div class="border"></div>

<div class="my-hobbies">
    <h2>My hobbies are:</h2>
    <ul>
        <li>Gaming</li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, nisi voluptatibus tempora, iure, quod magnam praesentium molestiae quasi odit debitis reiciendis doloremque aperiam accusamus aut harum dignissimos quas asperiores suscipit!</p>
        <li class="mt">Drawing</li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur autem labore libero quidem aut harum nostrum quae, maxime quasi esse. Unde error dignissimos eum rem saepe at, aliquid est eligendi?</p>
        <li class="mt">Travelling</li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At tempore eum fuga earum eius error officiis, dignissimos accusamus sit architecto eaque et unde dolorum autem amet mollitia vitae voluptatum ex.</p>
    </ul>
</div>

<div class="border"></div>