@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #1B1A55;
    --secondary-color: #535C91;
    --third-color: #9290C3;
    --text-color: #070F2B
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

body {
    background: var(--third-color);
}

.container {
    padding: 20px 40px;
}

.flex {
    display: flex;
    align-items: center;
}

.header {
    gap: 40px;
}

.button {
    border-radius: 5px;
    padding: 10px 10px;
    background-color: var(--primary-color);
    font-size: 18px;
    color: #fff;
    border: none;
}

.hover:hover {
    cursor: pointer;
    opacity: 80%;
}

.card-container {
    margin-top: 20px;
    padding: 10px;
    background: var(--secondary-color);
    border-radius: 10px;
}

.card-container img {
    height: 200px;
    width: 300px;
    object-fit: cover;
}

.form-container {
    background: var(--secondary-color);
    padding: 20px 40px;
    border-radius: 10px;
}

.justify-end {
    justify-content: end;
    gap: 10px;
}

.detail-container {
    margin-top: 20px;
    padding: 20px 40px;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.detail-container img {
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}

.detail-container p {
    font-weight: 500;
    font-size: 18px;
}

hr {
    color: black;
    opacity: 50%;
}