<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpen">
        <mat-nav-list>
            <a mat-list-item routerLink="/home">Home</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="/gundams">Gundams</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="/pilots">Pilots</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div>
            <div class="flex align-center gap m-left">
                <button mat-icon-button (click)="toggleSidenav()">
                    <mat-icon inline>menu</mat-icon>
                </button>
                <h1 class="main-title">Gundam Fan Site!</h1>
            </div>
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>