.home-title {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tweet-form-container{
    padding-bottom: 10px;
    border-bottom: 8px solid #e6ecf0;
}

.tweet-form-container{
    display: flex;
    flex-direction: column;
}

.tweet-box{
    display: flex;
    padding: 20px;
}

.tweet-box img{
    border-radius: 50%;
    height: 50px;
}

.tweet-box textarea{
    width: 90%;
    margin-left: 20px;
    font-size: 1.6rem;
    border: none;
    outline: none;
}

.tweet-btn{ 
    background-color: #50b7f5;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    margin-right: 20px;
    margin-top: 20px;
    border: none;
    width: 80px;
    height: 40px;
    float: right;
}

.tweet-btn:hover{ 
    opacity: 90%;
}

.tweet-btn:disabled{ 
    opacity: 60%;
    pointer-events: none;
}
