<div class="container">
    <div class="flex justify-between">
        <h1>{{ 'User List' | translate }}</h1>
        <div class="flex gap">
            <select (change)="switchLang($event)" class="select-lang">
                <option value="en">EN</option>
                <option value="fr">FR</option>
            </select>
            <button (click)="addNewUser()" class="button">{{ 'Add User' | translate }}</button>
        </div>
    </div>
    <div class="grid-container big-margin-top">
        <div *ngFor="let user of users">
            <app-user-card [userData]="user"></app-user-card>
        </div>
    </div>
</div>