<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="flex justify-between">
        <div class="flex header">
            <h1>{{ 'Laptop List' | translate }}</h1>
            <button (click)="openAddLaptop()" class="button hover">{{ 'Add New Laptop' | translate }}</button>
        </div>
        <input type="text" [(ngModel)]="searchText" [placeholder]="'Search' | translate" class="search-bar">
    </div>
    <div class="grid-container">
        <div *ngFor="let laptop of filteredLaptops">
            <app-card-info [laptopData]="laptop" *ngIf="laptop.name"></app-card-info>
        </div>
    </div>
</div>