<div class="player-list">
    <mat-card class="player-card">
        <button (click)="openEditPlayer()" class="edit-button">Edit Player</button>
        <div class="flex">
            <img [src]="selectedPlayer.playerImg" alt="Player Image" class="player-img">
            <div>
                <div>
                    <mat-card-title>{{ selectedPlayer.lastName }} {{ selectedPlayer.firstName }} {{
                        selectedPlayer.civility
                        }}</mat-card-title>
                    <mat-card-subtitle>{{ selectedPlayer.position }} - {{ selectedPlayer.team }}</mat-card-subtitle>
                </div>
                <mat-card-content>
                    <p>Gender: {{ selectedPlayer.gender }}</p>
                    <p>Birth Date: {{ selectedPlayer.birthDate }}</p>
                </mat-card-content>
            </div>
        </div>
    </mat-card>
</div>